* {
	font-family: roboto;
	font-size: 16;
}

h1 {
	font-size: 40px;
}

h2 {
	text-transform: uppercase;
}

li.languages {
	background-color: midnightblue;
	color: white;
}

li[title] {
	border-style: solid;
	border-color: midnightblue;
}

#third-paragraph {
	color: seagreen;
	font-family: verdana;
}
img + ul {
	list-style-type: circle;
}

ul ~ p {
	text-align: center;
}

ul > li {
	letter-spacing: 3px;
}
section img {
	width: 300px;
	height: 300px;
	border-radius: 50%;
}
